body {
  margin: 80px;
  /* background: #b0f2b6;*/
  text-align: justify;

}
/*---navbar--*/
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#04aa6d;
  position: sticky;
  top: 0;
}

.list_nav {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #333;
}
/*-------*/
h1 {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  right: 35%;
  margin: 10px;
}

.foto {
  margin-bottom: 20px;
}
.title {
  color: #32de84;
  margin: 0;
  text-decoration-line: underline;
  font-size: 22px;
}
.parag {
  width: 70%;
}
#fotoflus {
  border-radius: 100px;
  height: 150px;
  position: absolute;
  top: 45px;
  left: 44%;
}
.sottotitoli {
  background-color: #32de84;

  padding: 2px;
  border-radius: 4px;
  text-decoration: underline;
}
#primotitolo {
  width: 90%;

}
#statprezzi {
  height: 20em;
  display: block;
}
p {
  font-size: 20px;
}

#tabella_list_soluzioni{
  list-style-type: disc;
  background-color: #fff;
}

.position_undertitle{
  text-align: center;
  background-color:#32de84;
  border-radius: 7px;
  font-family: cursive;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: larger;
}

#tabella_soluzioni {

  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png);
}
.footer{
  background-color:#04aa6d ;
  padding: 40px;
  position: absolute;
  width: 83%;
}